/* Container styles */
.direct-message-container {
  display: flex;
  height: 100%;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.chats-column {
  /* position: relative; */
  width: 30%;
  background-color: white;
  border-radius: 16px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 25px;
  box-sizing: border-box;
  overflow-y: auto;
}

.create-chat-icon {
  position: sticky;
  bottom: 20px;
  margin-right: 6px;
  align-self: auto;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.chat-right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.users-list-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  height: 100%;
  flex: 1;
  gap: 16px;
}

.users-list-panel > .users-list-page {
  flex: 1;
  overflow-y: auto;
}

.users-list-page {
  background-color: #FFF9F9;
  border-radius: 10px;
  border: 1px solid #efefef;
}

.users-panel-header {
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-user-text {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 20px;
}

.selected-user {
  color: #FF6B6B;
  text-decoration: underline;
}

.close-button {
  background: #d3d3d3;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow:0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
  margin: 0;
}

.close-button:hover {
  background: #b5b4b4;
}

.create-chat-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Chat panel styles */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: none;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.chat-container h2 {
  margin-bottom: 16px;
  font-size: 20px;
  color: #555;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #efefef;
  border-radius: 6px;
  padding: 20px 5px;
  margin-bottom: 16px;
  background-color: #fdf8f8;
  max-height: 500px;
}

.message-input {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: auto;
}

.custom-input {
  border: none;
  background-color: #FFF0F0;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.custom-input:focus {
  outline: none;
  box-shadow: 0 0 8px -2px rgba(172, 172, 172, 0.481);
}


.custom-button {
  background-color: #FF6B6B;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #e55a5a;
}

.direct-message-error {
  color: red;
  font-weight: bold;
  margin-top: 15px;
}
