/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FFF9F9;
  padding: 20px;
}

.big-logo {
  font-size: 55px;
  color: #FF6F61;
  margin-bottom: 40px;
  font-weight: 550;
}

.login-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 13.5px -2px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  border-radius: 25px;
}

.welcome {
  font-size: 35px;
  color: #1F2937;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 400;
}

.please-login {
  font-size: 16px;
  color: #7A818D;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 30px;
}

.container h4 {
  font-size: 16px;;
  color: #484848;
  margin: 15px 0 5px; /* Adjusted for better spacing */
  text-align: left; /* Align text to the left */
  width: 100%; /* Ensure alignment respects the form's width */
  max-width: 400px; /* Match the form's max width */
  font-weight: normal;
}

/* Form styles */
.login-form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}

.input-wrapper .input-icon {
  position: absolute;
  left: 15px;
  display: flex;
  align-items: center;
  pointer-events: none; /* Icon doesn’t block typing */
}

.icon-input {
  padding-left: 45px; 
  border-radius: 25px; 
  background-color: #FFF4F4; /* Light pink background */
  width: 100%;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  height: 45px; /* Adjust height to match padding and icon */
  color: #323232;
}

.icon-input::placeholder {
  color: #B0B7C4; /* Light gray or whatever color you want */
}

.icon-input:focus {
  outline: none;
  box-shadow: 0 0 8px -2px rgba(172, 172, 172, 0.481);
}

.password-toggle-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Button styles */
.login-button {
  padding: 10px;
  font-size: 16px;
  background-color: #FF6F61;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #e55a5a;
}

.login-button:active {
  background-color: #cc4d4d;
}

/* Signup link styles */
.signup-link {
  margin-top: 30px; /* Increased spacing */
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
  text-align: center; /* Center the link */
}

.signup-text {
  color: #000;
}

.signup-highlight {
  color: #FF6F61;
  font-weight: 500;
}

.signup-highlight:hover {
  text-decoration: underline;
}

.error-message-login {
  color: red;
  font-size: 14px;
  background-color: #ffe6e6;
  padding: 8px 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
}
