.community-page {
  padding: 35px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.community-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.communities-title {
  font-size: 40px;
  font-weight: 500;
  color: #2c3849;
  margin: 0;
  margin-right: 40px;
}

.community-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  flex: 1 1 auto;
  min-width: 0;
}

.community-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 1 60%;
  max-width: 500px;
}

.community-search {
  padding-left: 45px;
  border-radius: 25px;
  background-color: #FFFFFF;
  width: 100%;
  border: 1px solid #e2e2e2;
  font-size: 16px;
  color: #9CA3AF;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  box-sizing: border-box;
}

.community-search:focus {
  outline: none;
  box-shadow: 0 0 8px -2px rgba(172, 172, 172, 0.481);
}

.communities-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 50px 40px;
}

.community-error {
  color: #ff4d4d;
  font-weight: 500;
  margin: 0;
}
