.order-btn {
  border: none;
  background: #F3F4F6;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 13px;
  color: #4B5563;
  transition: all 0.2s ease;
}


.order-btn:hover {
  background-color: #e1e0e0;
}

.order-btn.selected {
  background-color: #FFDCDC;
  color: #FF6B6B;
}

