.add-work-button:hover {
  background-color: #5aaaff;
}

.work-experience-form-container {
  width: 100%;
  background-color: white;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.work-experience-form-container h3 {
  margin-bottom: 30px;
}

.work-experience-form label {
  display: flex;
  flex-direction: column;
    gap: 6px;
    padding: 0px;
}

.work-experience-form .input-text {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  border: none;
  background: white;
}

.input-field {
  color: #424d5b; 
  appearance: none;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid #f2eaea;
  border-radius: 20px;
  background-color: #fff9f9;
  font-size: 16px;
  outline: none;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
}

.mandatory {
  color: #ff6b6b;
  margin-left: 4px;
}

.input-field:focus,
.input-field:hover {
  border: 1px solid #f9a3a3;
  background-color: #fff4f4;
}

.input-description {
  color: #424d5b; 
  min-height: 130px;        
  font-family: inherit;       
  font-size: 16px;
  line-height: 1.4;
  padding: 10px 12px;
  border: 1px solid #f2eaea;
  border-radius: 20px;
  background-color: #FFF9F9;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  overflow-wrap: break-word;
  outline: none;
  margin-bottom: 30px;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.input-description:focus,
.input-description:hover {
  border: 1px solid #f9a3a3;
  background-color: #fff4f4;
}

.mandatory_indicator {
  font-size: 14px;
  color: #ff4d4d; 
  margin-top: 20px;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}