.collections-page {
  padding: 32px;
  min-height: 100vh;
}

.collections-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.collection_title {
  margin-top: 0px;
  font-weight: 500;
  font-size: 40px;
  color: #2c3849;
}

.collections-create-btn {
  margin-top: -8px;
  padding: 8px 16px;
  font-size: 15px;
  background-color: #ae8ff5;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 160px;
}

.collections-create-btn:hover {
  background-color: #765bb4;
}

.collections-create-btn:active {
  background-color: #765bb4;
}

.collections-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px 40px;
}

.collection-card {
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.collection-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.main-collection-name {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 0;
  color: #333;
}

.main-collection-description {

  font-size: 16px;
  color: #7a7878;
  margin-bottom: 20px;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  line-clamp: 4;
  box-orient: vertical;

  overflow: hidden;
}

.collection-privacy {
  font-weight: 600;
  font-size: 16px;
  color: #64748b;
  margin-bottom: 5px;
}


.collection-questions {
  font-size: 0.9rem;
  color: #64748b;
  margin-bottom: 5px;
}
