.ask_question_btn {
  margin-top: -8px;
  padding: 8px 16px;
  font-size: 15px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 130px;
}

.ask_question_btn:hover {
  background-color: #e55a5a;
}
