.new-community-button {
  background-color: #82C0FF;
  color: #fff;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.new-community-button:hover {
  background-color: #77a3d0;
}

.new-community-button:active {
  background-color: #4285c7;
}
